@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Maven+Pro&family=Nabla&family=Peralta&family=Play&family=Roboto:wght@300;400;500&family=Silkscreen&family=Source+Code+Pro&display=swap');


.navbar-links ul li .nav-items{
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    margin: 20px;
}
.navbar-links ul li .nav-items a{
    font-family: 'Nabla', cursive;
    font-size: 22px;
    letter-spacing: 3px;
    padding: 10px 20px;
    width: 300px;
    

}
.navbar-links ul li .nav-items a:hover{
    background-color: #1e1e1e;
    width: 100%;
    border-radius: 10px;
    font-size: 28px;
    letter-spacing: 5px;
    transition: all 0.7s ease-in-out;
    -webkit-transition: font-family 1s ease;
    -moz-transition: font-family 1s ease;
    -ms-transition: font-family 1s ease;
    -o-transition: font-family 1s ease;
   
} 

.navbar-links ul li .active{
    font-size: 28px;
    letter-spacing: 5px;
} 

