
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Maven+Pro&family=Nabla&family=Peralta&family=Play&family=Roboto:wght@300;400;500&family=Silkscreen&family=Source+Code+Pro&display=swap');

/* 
font-family: 'Chakra Petch', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Peralta', cursive;
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Source Code Pro', monospace; 
*/

*{
  color: aliceblue;
  box-sizing: border-box;
}

.experience-content{
  text-align: center;
  margin-bottom: 3rem;
  
}
.experience-content h1{
  font-size: 3rem;
  font-family: 'Silkscreen', sans-serif;
  text-transform: uppercase;
}

.experience-content-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.experience-content-container-items{
  width: 500px;
  height: 450px;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 1.3rem;
  margin: 1rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.experience-content-container-items h1{
  width: 100%;
  font-size: 1.7rem;
  font-family: 'Silkscreen', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
}
.experience-content-container-items h2{
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #f0f0f0d0;
}
.experience-content-container-items h3{
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.experience-content-container-item-responsibilities li{
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1.4px;
  color: #f0f0f0d0;
  margin: 0 auto;
  font-size: 15px;
  text-align: start;
  margin-bottom: 0.5rem;
  list-style: disc;
  text-transform: uppercase;
  width: 425px;
}