
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Maven+Pro&family=Nabla&family=Peralta&family=Play&family=Roboto:wght@300;400;500&family=Silkscreen&family=Source+Code+Pro&display=swap');

/* 
font-family: 'Chakra Petch', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Peralta', cursive;
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Silkscreen', cursive;
font-family: 'Source Code Pro', monospace; 
*/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  max-width: 80%;
  margin: 0 auto;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); */
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.App{
  position: relative;
}

.main-container{
  height: 80vh;
  margin-top: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.main-container-navigations{
  position: absolute;
  top: 10rem;
  left: 20px;
}
.header-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.main-container-content{
  justify-content: center;
  align-items: center;
}
.main-container-content {
  max-width: 70%;
  margin-left: 20%;
  margin-top: 6rem;
  height: 75%;
}

